.App {
  text-align: center;
}


.App-logo {
  align-items: center;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  padding: 5%;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-Form {
  background-color: white;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  /* padding-left: 5%;
  padding-right: 5%; */
  padding: 5%;
  
  justify-content: center;
  
  font-size: 15pt;
  color: black;
}

.App-Form .Form {
  padding: 10pt;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(255, 255, 255);
  z-index: 2;
  cursor: pointer;
}

.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
